body{
    background-color: darkblue;
    font-family: 'Architects Daughter', cursive;
}
.header_div{
    background-color:lemonchiffon;
    color:darkred;
}
.header_div p{
    color:darkslategrey;
    font-size: 25px;
    font-family: 'Nanum Brush Script', cursive;
    font-weight: bold;
    letter-spacing:2px;
}
.main_div button{
    margin-top:10px;
    font-family: 'Nanum Brush Script', cursive;
    font-size:20px;
    font-weight: bold;
    letter-spacing: 2px;
}
.main_div h3,h4{
color:aliceblue;
font-weight:bold;

}
.footer{
    bottom:0;
    position:fixed;
    background-color:forestgreen;
    color:bisque;
    width:100%;
    font-size:20px;
    text-align: center;
    line-height:3;
    text-shadow: 5px 5px 5px red;
}